spark/.ipynb_checkpoints/DataFrameTest-checkpoint.ipynb
spark/.ipynb_checkpoints/ExploreFocusFileWithSpark-checkpoint.ipynb
spark/.ipynb_checkpoints/README-checkpoint.md
rust/trpl/hello_cargo/target
rust/trpl/hello_world/main
rust/trpl/*/target
.DS_Store
